<h1 class="center">"******** Now your result ********"</h1> 
<ol>
<li>
<%= @valid %>
</li>
<li>
<%= @result %>
</li>
</ol>


<h1 class="center">"*****************************************************"</h1> 